:root {
  --yellow-color: #b49135;
  --bg: #00000030;
  --bg-card: #3f3f4694;
  --bg-column: #ffffff11;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: 900px) {
  #root {
    padding: 2rem;
  }
}
